<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecr5.matchajob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Empresa.NavigationEmpresa"
            android:label="@string/title_activity_navigation_empresa"></activity>
        <activity
            android:name=".Candidato.NavigationCandidato"
            android:label="@string/title_activity_navigation_candidato"></activity>
        <activity
            android:name=".Mentor.NavigationMentor"
            android:label="@string/title_activity_navigation_mentor"></activity>
        <activity android:name=".Empresa.CadastroEmpresa" />
        <activity android:name=".Mentor.CadastroMentor" />
        <activity android:name=".Candidato.CadastroCandidato" />
    </application>

</manifest>